@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.mainContainer:hover .type {
  display: none;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 2s;
}

.mainContainer:hover .name {
  display: block;
  transform: rotate(0);
  margin-top: 0.5rem;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 2s;
}

::selection {
  background: rgb(147 51 234 / var(--tw-bg-opacity));
}
